### Analyzing Student's Mental Health Project from DataCamp SQL Track

![Illustration of silhouetted heads](mentalhealth.jpg)

Does going to university in a different country affect your mental health? A Japanese international university surveyed its students in 2018 and published a study the following year that was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties than the general population, and that social connectedness (belonging to a social group) and acculturative stress (stress associated with joining a new culture) are predictive of depression.


Explore the `students` data using PostgreSQL to find out if you would come to a similar conclusion for international students and see if the length of stay is a contributing factor.

Here is a data description of the columns you may find helpful.

| Field Name    | Description                                      |
| ------------- | ------------------------------------------------ |
| `inter_dom`     | Types of students (international or domestic)   |
| `japanese_cate` | Japanese language proficiency                    |
| `english_cate`  | English language proficiency                     |
| `academic`      | Current academic level (undergraduate or graduate) |
| `age`           | Current age of student                           |
| `stay`          | Current length of stay in years                  |
| `todep`         | Total score of depression (PHQ-9 test)           |
| `tosc`          | Total score of social connectedness (SCS test)   |
| `toas`          | Total score of acculturative stress (ASISS test) |

In [1]:
import sqlite3
import pandas as pd

# 1. Connect to the SQLite database
# It will create a new file named 'practice.db' if it doesn't exist.
conn = sqlite3.connect('project.db')
print("Successfully connected to the database.")

# 2. Read the CSV file into a Pandas DataFrame
# Make sure your 'students.csv' file is in the same directory as this notebook.
df = pd.read_csv('students.csv')
print("CSV file read successfully.")

# 3. Write the DataFrame to a new SQL table
# We name the new table 'students'.
# 'if_exists="replace"' will replace the table if it already exists.
# 'index=False' prevents Pandas from writing the DataFrame index as a column.
df.to_sql('students', conn, if_exists='replace', index=False)
print("Data successfully loaded into the 'students' table.")

# 4. Close the database connection
conn.close()

Successfully connected to the database.
CSV file read successfully.
Data successfully loaded into the 'students' table.

In [3]:
import pandas as pd
import sqlite3

# Reconnect to the database to run the query
conn = sqlite3.connect('project.db')

# Run a simple SELECT query to see your data
students_df = pd.read_sql("SELECT * FROM students", conn)
print(students_df)

conn.close()

    inter_dom region  gender academic   age  age_cate  stay stay_cate  \
0       Inter    SEA    Male     Grad  24.0       4.0   5.0      Long
1       Inter    SEA    Male     Grad  28.0       5.0   1.0     Short
2       Inter    SEA    Male     Grad  25.0       4.0   6.0      Long
3       Inter     EA  Female     Grad  29.0       5.0   1.0     Short
4       Inter     EA  Female     Grad  28.0       5.0   1.0     Short
..        ...    ...     ...      ...   ...       ...   ...       ...
281      None   None    None     None   NaN       NaN   NaN      None
282      None   None    None     None   NaN       NaN   NaN      None
283      None   None    None     None   NaN       NaN   NaN      None
284      None   None    None     None   NaN       NaN   NaN      None
285      None   None    None     None   NaN       NaN   NaN      None

     japanese japanese_cate  ...  friends_bi parents_bi relative_bi  \
0         3.0       Average  ...         Yes        Yes          No
1         4.0          High  ...         Yes        Yes          No
2         4.0          High  ...          No         No          No
3         2.0           Low  ...         Yes        Yes         Yes
4         1.0           Low  ...         Yes        Yes          No
..        ...           ...  ...         ...        ...         ...
281       NaN          None  ...         222       None        None
282       NaN          None  ...         249       None        None
283       NaN          None  ...         203       None        None
284       NaN          None  ...         247       None        None
285       NaN          None  ...         223       None        None

    professional_bi phone_bi doctor_bi religion_bi  alone_bi others_bi  \
0                No       No        No          No        No        No
1                No       No        No          No        No        No
2                No       No        No          No        No        No
3               Yes       No        No          No        No        No
4               Yes       No       Yes         Yes        No        No
..              ...      ...       ...         ...       ...       ...
281            None     None      None        None      None      None
282            None     None      None        None      None      None
283            None     None      None        None      None      None
284            None     None      None        None      None      None
285            None     None      None        None      None      None

     internet_bi
0             No
1             No
2             No
3             No
4             No
..           ...
281         None
282         None
283         None
284         None
285         None

[286 rows x 50 columns]

In [4]:
query = '''
SELECT stay, COUNT(*) as count_int, ROUND(AVG(todep), 2) as average_phq, ROUND(AVG(tosc), 2) as average_scs, ROUND(AVG(toas), 2) as average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC
'''

# Reconnect to the database to run the query
conn = sqlite3.connect('project.db')

# Run a the query
students_df = pd.read_sql(query, conn)
print(students_df)

conn.close()

   stay  count_int  average_phq  average_scs  average_as
0  10.0          1        13.00        32.00       50.00
1   8.0          1        10.00        44.00       65.00
2   7.0          1         4.00        48.00       45.00
3   6.0          3         6.00        38.00       58.67
4   5.0          1         0.00        34.00       91.00
5   4.0         14         8.57        33.93       87.71
6   3.0         46         9.09        37.13       78.00
7   2.0         39         8.28        37.08       77.67
8   1.0         95         7.48        38.11       72.80